<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546649153023-l7e10asd7at1dfojfbtehr013q9ec49p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546649153023-l7e10asd7at1dfojfbtehr013q9ec49p</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Y5L8mD3FPRulubK9jIVgU17DSHx_b0k</string>
	<key>GCM_SENDER_ID</key>
	<string>546649153023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.namiml.TestProducts</string>
	<key>PROJECT_ID</key>
	<string>testproducts-d02d5</string>
	<key>STORAGE_BUCKET</key>
	<string>testproducts-d02d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546649153023:ios:f4eb5b0ec9286ac8b7dbca</string>
	<key>DATABASE_URL</key>
	<string>https://testproducts-d02d5.firebaseio.com</string>
</dict>
</plist>