# Example Podfile to include Nami SDK.  Note the use_frameworks!.
# If you get an error about not finding the Nami pod, try running "pod repo update"

target 'MyApp' do
  use_frameworks!

  # Pods for MyApp
  pod 'Nami', '~> 3.3.1.2'

  target 'MyAppTests' do
    inherit! :search_paths
    # Pods for testing
  end

end
